
.like {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 49;
    .logo {
        
        width: 40px;
        height: 40px;
        font-size: 26px;
        position: relative;
        right: 25px;
        
        display: flex;
        align-items: center;
        
        &_plein{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 25px;
            background: linear-gradient(to top right, $second,  $prim);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            background-clip: text;
            opacity : 0;
            transform: scale(0);
            transition: all 0.6s cubic-bezier(.47,.09,.94,.79);
        }
        
        

    }
    &:hover,&:focus, &:active  {
        .logo {
            &_plein {
                opacity: 1;
                transform: scale(1);

            }
        }
        
    }

  
}

.position {
    position : absolute;
    bottom: 20px;
    right: 20px;
}




.boutton {
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, $second, $prim);
    border-radius: 25px;
    border: none;
    box-shadow: 0px 3px 4px 2px $shadowclair;
    &:hover,  &:active {
       @include boutton_background;
    box-shadow: 0px 3px 4px 3px $shadowfonce;
    }

    a {
        font-size: 16px;
        color: white;
        font-weight: 600;
    }
}




