
@mixin shadow_claire{
    box-shadow: 0px 0px 5px 1px rgba(170, 170, 170, 0.25);
}

@mixin shadow_fonce{
    box-shadow: 0px 0px 5px 1px rgba(150, 150, 150, 0.25);
}

@mixin plat_width {
        width: 325px;
    
}

@mixin view_desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px 15px;
    max-width: 1350px;
    margin: 0 auto;
}

@mixin boutton_background($colour1:$second, $colour2: $prim){
    background: linear-gradient(to bottom right,  adjust-hue($colour1, 20deg), adjust-hue($colour2, 20deg));
}


@keyframes rotation {

    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes fading {
    from {
        opacity: 1;
    }
    to {
       opacity: 0.5;
       visibility: hidden;
    }
}

@keyframes chargement{
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}



@keyframes affichage_plat {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes affichage1{
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes affichage2{
    0% {
        transform: scale(0);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes affichage3{
    0% {
        transform: scale(0);
    }
    66%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes affichage4{
    0% {
        transform: scale(0);
    }
    75%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}