$prim : #9356DC;
$prim_claire : #f5edff;
$second : #FF79DA;
$tert : #99E2D0;
$tertfonce : #008766;
$blanc : rgb(255, 255, 255);
$grisclair : rgb(167, 167, 167);
$grisfonce : rgb(34, 34, 34);

$shadowclair : rgba(170, 170, 170, 0.25);
$shadowfonce : rgba(150, 150, 150, 0.25);
